{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown":
    [
      true,
      {
        "ignoreAtRules": [
          "extend",
          "mixin",
          "include",
          "function",
          "each",
          "return"
        ]
      }
    ]
  }
}